@model NumberGuessingGame.ViewModel.SecretNumberViewModell
@{
    ViewBag.Title = "Done";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Slut</h2>
@Html.DisplayFor(model => model.doneView)
